<div class="row">
                    
          
                       
  <div class="logo-alignment   dt-sc-logo_left ">             
    <nav id="AccessibleNav" role="navigation" class="dt-sc-flex-space-between default_dropdown" data-menu="dt-main-menu"><div  class="mobile-nav-container mobile-nav-offcanvas-right dt-header-menu" data-menu="dt-main-menu"><div class="menu-trigger" data-menu="dt-main-menu"> 
        <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 214.2 150.7" style="enable-background:new 0 0 214.2 150.7;" xml:space="preserve">
<g>
<path d="M202.7,2.5H12c-5.5,0-10,4-10,8.9s4.5,8.9,10,8.9h190.7c5.5,0,10-4,10-8.9S208.3,2.5,202.7,2.5z"/>
<path d="M174.3,67.7H11.4c-5.5,0-10,4-10,8.9s4.5,8.9,10,8.9h162.9c5.5,0,10-4,10-8.9S179.8,67.7,174.3,67.7z"/>
<path d="M145.3,131.8H12.4c-5.5,0-10,4-10,8.9c0,4.9,4.5,8.9,10,8.9h132.9c5.5,0,10-4,10-8.9C155.3,135.8,150.8,131.8,145.3,131.8z
"/>
</g>
</svg>
        </div> </div> 
        

<div  class="logo">
<a href="/" title="dt-foodbia" ><img src="//cdn.shopify.com/s/files/1/0553/2824/3758/files/FOODBIA-LOGO.png?v=1668835038&amp;width=150" alt="dt-foodbia" srcset="//cdn.shopify.com/s/files/1/0553/2824/3758/files/FOODBIA-LOGO.png?v=1668835038&amp;width=50 50w, //cdn.shopify.com/s/files/1/0553/2824/3758/files/FOODBIA-LOGO.png?v=1668835038&amp;width=100 100w, //cdn.shopify.com/s/files/1/0553/2824/3758/files/FOODBIA-LOGO.png?v=1668835038&amp;width=150 150w" width="150" height="55.55555555555556" class="header__heading-logo">
</a>
</div>


<ul class="dt-sc-list-inline  dt-desktop-menu dt-nav" data-menu="dt-main-menu">
<li class="close-nav"></li>



<li class="2 promo_image
   top-level-link 
    has-mega-menu dt-sc-primary
   
    menu-item-has-children">
<a href="/collections/organic-meat" class=" mega-menu dt-sc-nav-link dropdown"> 
<span data-text="Cuisines" class="icon-menu-1">
Cuisines 
 
   
</span><span class="dt-sc-caret"></span>


</a>


<div class="sub-menu-block block-9921d5e6-8308-43f1-bdde-d461879b8211-type is-hidden">
<div class="submenu_inner">
<div class="go-back">
<a href="javascript:void(0);"></a>
</div>
<div class="see-all"></div>
<div class="dt-sc-dropdown-menu dt-sc--main-menu--mega  dt-sc_main-menu--has-links">
<ul class="sub-menu-lists   dt-sc-column      ">


 <li class="">
   <a class="headding" href="/collections/food-varieties" >
    Indian
    </a><ul><li class="">
      <a href="/products/chicken-rice-with-avacado" >
        <span>
          Chicken Rice With Avacado   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Crispy Onion Spicy Pakkoda   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Tandoori Aloo Masala Tikka   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Aloo Bonda With White Chutney   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Cheese Chicken Masala Kabab   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Rosted Chicken With Lemon   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Spicy Grilled Chicken Gravy With Rice   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Mutton Kabab With Cheese   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/south-indian" >
    Chinese
    </a><ul><li class="">
      <a href="/products/deep-spicy-lemon-shrimp-fry" >
        <span>
          Deep Shrimp Fry   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Delicacies Spring Rolls   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sweet Sour Chicken Sauces   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Peper Chicken Roasted Wings   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sour Sauce Chicken Balls   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sesame Pepper Chicken Salad   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Chinese Spring Prawn Toast   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Deep Fry Salmon Curry Gravy   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/spicy-foods" >
    Italian
    </a><ul><li class="">
      <a href="/products/crispy-potato-french-fries" >
        <span>
          Crispy French Fries   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Italian Spicy Sauce Pizza Rolls   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Spicy Green Bean Salad   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Cheese Creamy White Pasta   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Meat Onion Tuscan Truffle   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Juicy Tomatto Spicy Focaccia    
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Goat Cheese Flaky Bread   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Green Bean Chicken Salad   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/top-orders" >
    American
    </a><ul><li class="">
      <a href="#" >
        <span>
          Herb Taste Sauce Chicken Wing   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Goat Cheese Buffalo Wing Roll   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sweet Cheesy Special Fruit Dip   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Hot Chilli Sauce Meat Ball   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Smooth Tomatto Sauce Pig Roll   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Frozen Pizza With Sour Sauce   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Tomatto Sauce With Hot Chilli Dip   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Baked Buffalo Curry With Sauce   
          

          

          

          
        </span>
      </a>
    </li></ul></li>  
 


<!-- Image with text --><!-- Image with text  End-->
<!-- Image with text --><!-- Image with text  End-->
<!-- Image with text --><!-- Image with text  End-->
<!-- Image with text --><!-- Image with text  End-->
   






</ul>



</div> 
</div>
</div>
</li>



<li class="2 promo_banner
   top-level-link 
    has-mega-menu dt-sc-primary
   
    menu-item-has-children">
<a href="/collections/south-indian" class=" mega-menu dt-sc-nav-link dropdown"> 
<span data-text="Recipes" class="icon-menu-2">
Recipes 
 
   
</span><span class="dt-sc-caret"></span>


</a>


<div class="sub-menu-block block-201ca7f9-2236-435e-9e3a-692ebdb6807e-type is-hidden">
<div class="submenu_inner">
<div class="go-back">
<a href="javascript:void(0);"></a>
</div>
<div class="see-all"></div>
<div class="dt-sc-dropdown-menu dt-sc--main-menu--mega  dt-sc_main-menu--has-links">
<ul class="sub-menu-lists   dt-sc-column      ">

<!-- Image with text --><!-- Image with text  End-->




 <li class="">
   <a class="headding" href="/collections/food-varieties" >
    Pasta
    </a><ul><li class="">
      <a href="#" >
        <span>
          Herb Sauce With Creamy Pasta   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Creamy Cheese Wheat Pasta   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Red Chilli Flaky Chicken Pasta   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Aromatic Fresh Rich Butter Pasta   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Rich Flavour Creamy Gnocchi    
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Red Wine Sauce With Creamy Pasta   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Braccoli Butter Hot Garlic Pasta   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Spicy Pepper Pasta Mutton Sauce    
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/organic-meat" >
    Chicken
    </a><ul><li class="">
      <a href="#" >
        <span>
          Coconut Creamy Chicken Gravy   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Red Chilli Sauce Roasted Chicken   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Peppercorn Mughal Chiken Masala   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Grilled Chicken With Sour Lemon    
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Yogurt Marinated Chicken Gravy   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Garlic Sauce With Baked Chicken   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Spicy Pepper Chicken Briyani   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Hot Red Chilli Sauce Chicken Fry   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/spicy-foods" >
    Sea Food
    </a><ul><li class="">
      <a href="/products/hot-sauce-spicy-shrimp-curry" >
        <span>
          Spicy Shrimp Curry   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Crispy Prawn With Hot Chilli Sauce   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Garlic Sauce Marinate Salmon   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Black Crust Flavoured Butter Prawn   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sprinkkled Lemon Pepper Tuna   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Cashew Sprinkled Prawn Roast   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Mint Salad Pepper Salsa Halibut   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fried Prawn With Tomatto Sauce   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/top-orders" >
    Mushroom
    </a><ul><li class="">
      <a href="/products/special-mushroom-noodles" >
        <span>
          Special Mushroom Noodles   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Black Pepper Creamy Mushroom    
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Roasted Pepper Mushroom Broth   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Hot Red Chilli Mushroom Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Mushroom Pea Coconut Churry   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Spicy Mushroom Pepper Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Roasted Mushroom Creamy Pasta   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Chicken Mushroom Garlic Salad   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/south-indian" >
    Fruits
    </a><ul><li class="">
      <a href="#" >
        <span>
          Strawberry Syrup Honey Salsa   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Grilled Avacoda With Bread   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Banana Peanut Blend Salad   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Mixed Fresh Fruit Honey Salad   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Apple Peanut Butter Apple Pie   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Banana Syrup Honey Cookie   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Blueberry Syrup Bread Salad   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sour Apple Pineapple Kabab   
          

          

          

          
        </span>
      </a>
    </li></ul></li>  
 

   





    
<!-- Image with text --><!-- Image with text  End-->      

</ul>



</div> 
</div>
</div>
</li>



<li class="2 promo_banner
   top-level-link 
    has-mega-menu dt-sc-primary
   
    menu-item-has-children">
<a href="/collections/spicy-foods" class=" mega-menu dt-sc-nav-link dropdown"> 
<span data-text="Soups" class="icon-menu-3">
Soups 
 
   
</span><span class="dt-sc-caret"></span>


</a>


<div class="sub-menu-block block-ae394f29-4d09-496f-aa27-b1210655d33f-type is-hidden">
<div class="submenu_inner">
<div class="go-back">
<a href="javascript:void(0);"></a>
</div>
<div class="see-all"></div>
<div class="dt-sc-dropdown-menu dt-sc--main-menu--mega  dt-sc_main-menu--has-links">
<ul class="sub-menu-lists   dt-sc-column      ">

<!-- Image with text --><!-- Image with text  End-->




 <li class="">
   <a class="headding" href="/collections/top-orders" >
    Creamy
    </a><ul><li class="">
      <a href="#" >
        <span>
          Tangy Creamy Tomatto Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Potato Mushroom Chicken Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fresh Cream Cheese  Oninon Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Peanut Butter Fresh Vege Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Heavy Cream Braccoli Sauce Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Crispy Chicken Sour Tomato Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Gultan Free Soft Creamy Vege Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fresh Herb Creamy Vege Soup   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/south-indian" >
    Pureed
    </a><ul><li class="">
      <a href="#" >
        <span>
          Mixed Flavour Sour Tomato Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Braccoli Creamy Ginger Onion Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Classic Green Soup With Salt Lemon   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Creamy Sweet Cheese Potato Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Pumpkin Flavoured Califlower Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Soft Carrot Milk Flavour Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Flavoured Potato Mushroom Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Mixed Vegetable Hot Chilli Soup   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/organic-meat" >
    Bisque
    </a><ul><li class="">
      <a href="#" >
        <span>
          Sour Tomato Basil Ginger Bisque   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Roasted Carrot Flavoured Bisque   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fresh Salmon Sweet Tomato Bisque   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Zucchini Corn Flavoured Bisque   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Califlower Soft Potato Corn Bisque   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Prawn Churry Hot Sauce Bisque   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Onion Flavoured Tuna Salt Bisque   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Turmeric Ginger Corn Flav Bisque   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/food-varieties" >
    Veloute
    </a><ul><li class="">
      <a href="#" >
        <span>
          Creamy Smoked Fish Chowder   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Butternut Roasted Chicken Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Italian Cabbage Mushroom Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Corn Prawn Salad Creamy Soup   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          White Fish Creamy Corn Chowder   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fresh Pumkin Oninon Chowder   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Smoked Salmon Corn Chowder   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sweet Corn Fresh Cucumber Chowder   
          

          

          

          
        </span>
      </a>
    </li></ul></li>  
 

   





    
<!-- Image with text --><!-- Image with text  End-->      

</ul>



</div> 
</div>
</div>
</li>



<li class="2 promo_image
   top-level-link 
    has-mega-menu dt-sc-primary
   
    menu-item-has-children">
<a href="/collections/spicy-foods" class=" mega-menu dt-sc-nav-link dropdown"> 
<span data-text="Dessert" class="icon-menu-4">
Dessert 
 
   
</span><span class="dt-sc-caret"></span>


</a>


<div class="sub-menu-block block-132716d9-b422-4171-aa20-afd905978f0c-type is-hidden">
<div class="submenu_inner">
<div class="go-back">
<a href="javascript:void(0);"></a>
</div>
<div class="see-all"></div>
<div class="dt-sc-dropdown-menu dt-sc--main-menu--mega  dt-sc_main-menu--has-links">
<ul class="sub-menu-lists   dt-sc-column    row-reverse  ">


 <li class="">
   <a class="headding" href="/collections/organic-meat" >
    Cakes
    </a><ul><li class="">
      <a href="/products/honey-banana-pancakes" >
        <span>
          Honey Banana Pancakes   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fresh Fruits Infused Chocolate Cake   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Strawberry Flavoured Creamy Cake   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Blueberry Flavoured Rainbow Cake   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          White Chocolate Butter Cake   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Strawberry Flav Pink Velvet Cake   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Deep Dark Chocolate Black Forest   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fruit Mixed Flavour Pound Cake   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/south-indian" >
    Cookies
    </a><ul><li class="">
      <a href="#" >
        <span>
          Hot Chocolate Crispy Flaky Cookie   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Dark Chocolate Biscotti Cookie   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Butter Creamy Cinnamon Cookie   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Coconut Cinnamon Bread Cookie   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Brown Sugar Flavoured Macaroon   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Rough Puff Choco Infused Pastries   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Blueberry Flavoured Puff Macaroon   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Hard Chocolate Chip Crispy Cookie   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/spicy-foods" >
    Custards
    </a><ul><li class="">
      <a href="#" >
        <span>
          Sweet Squash Cinnamon Custard   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Chrunchy Caramalized Custard   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Lemon Caramel Custard Pie   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sponge Cake Creamy Custard    
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Apple Cheese Bread Custard   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Strawberry Infused Wafer Custard   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Vennila Sauce Bread Custard   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fresh Raspberry Creamy Custard   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/top-orders" >
    Candies
    </a><ul><li class="">
      <a href="#" >
        <span>
          Maple Sugar Caramel Candy   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Strawberry Flavour Brittle Candy   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Mint Flavoured Brittle Chocolate   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Almond Covered Berry Chocolate    
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Peanut Butter Almond Lollipop   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fresh Strawberry Caramel Stick   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Mint Flavoured Chewing Gum   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fresh Mint Flavoured Chewing Gum   
          

          

          

          
        </span>
      </a>
    </li></ul></li>  
 


<!-- Image with text --><!-- Image with text  End-->
<!-- Image with text --><!-- Image with text  End-->
<!-- Image with text --><!-- Image with text  End-->
<!-- Image with text --><!-- Image with text  End-->
   






</ul>



</div> 
</div>
</div>
</li>



<li class="2 promo_image
   top-level-link 
    has-mega-menu dt-sc-primary
   
    menu-item-has-children">
<a href="/collections/food-varieties" class=" mega-menu dt-sc-nav-link dropdown"> 
<span data-text="Drinks" class="icon-menu-5">
Drinks 
 
   
</span><span class="dt-sc-caret"></span>


</a>


<div class="sub-menu-block block-696e8a11-14d0-42ad-a061-394096ff2ecf-type is-hidden">
<div class="submenu_inner">
<div class="go-back">
<a href="javascript:void(0);"></a>
</div>
<div class="see-all"></div>
<div class="dt-sc-dropdown-menu dt-sc--main-menu--mega  dt-sc_main-menu--has-links">
<ul class="sub-menu-lists   dt-sc-column      ">


 <li class="">
   <a class="headding" href="/collections/organic-meat" >
    Sparkling Drinks
    </a><ul><li class="">
      <a href="/products/iced-diet-lemon-soda" >
        <span>
          Iced Diet Soda   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sweet Lime Honey Lemon Soda   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Orchard Fruits White Wine   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sour Grapes Blend Red Wine   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Strawberry Flavoured Lime Soda   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Raspberry Lime Lemon Soda   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fresh Sweet Lemon Refresh Soda   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Berry Blend Lemon Soda   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/south-indian" >
    Juice
    </a><ul><li class="">
      <a href="/products/fresh-pear-honey-juice" >
        <span>
          Fresh Pear Juice   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Mango Pulp Fresh Lemon Juice   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Pomegranate Orange Fresh Juice   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Cucumber Ginger Gresh Juice   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Carrot Orange Ginger Juice   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fruit Mixed Honey Flavour Juice   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Pineapple Black Salt Ginger Juice   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Black Salt Fresh Papaya Juice   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/top-orders" >
    Coffee
    </a><ul><li class="">
      <a href="#" >
        <span>
          Roasted French Filter Coffee   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Creamy Flavour Pour  Coffee   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Chocolate Sprinkle Cappuccino   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Classic Pour Over Choco Coffee   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Steamed Milk French Creamy Latte   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Traditional Turkish Dark Coffee   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Sweetner Creamy Cold Frappuccino   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Heavy Choco Flavour Black Coffee   
          

          

          

          
        </span>
      </a>
    </li></ul></li><li class="">
   <a class="headding" href="/collections/south-indian" >
    Tea
    </a><ul><li class="">
      <a href="#" >
        <span>
          Strong Aromas Masala Tea   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Ginger Special Aroma Black Tea   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Traditional Chinese Black Tea   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Fully Ozidaized Oolong Tea   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Mellow Flavour White Tea   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Chamomile Herbal Green Tea   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Spicy Flavoured Herbal Tea   
          

          

          

          
        </span>
      </a>
    </li><li class="">
      <a href="#" >
        <span>
          Organic Flavoured Herbal Mint Tea   
          

          

          

          
        </span>
      </a>
    </li></ul></li>  
 


<!-- Image with text --><!-- Image with text  End-->
<!-- Image with text --><!-- Image with text  End-->
<!-- Image with text --><!-- Image with text  End-->
<!-- Image with text --><!-- Image with text  End-->
   






</ul>



</div> 
</div>
</div>
</li>



<div class="menu-section">

<img alt="app_install" src="https://cdn.shopify.com/s/files/1/0553/2824/3758/files/foodbia_menu.png?v=1667361850" loading="lazy" width="100" height="200">

<p>Now find near by<br>restaurant in your pocket</p>
<div class="inline-button">
<button class="dt-sc-btn"><i class="fa fa-apple" aria-hidden="true"></i>Apple</button>
<button class="dt-sc-btn"><i class="fa fa-android" aria-hidden="true"></i>Android</button>
</div>
</div>
</ul>

<div class="site-header__links dt-sc-flex">






<a href="/pages/wishlist" class="site-header__icon site-header__wishlist  hidden ">
<svg class="heart-empty"   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<path d="M88.5,15.3c-5.4-5.4-12.4-8.1-19.4-8.1s-14,2.7-19.4,8.1c-5.4-5.4-12.4-8.1-19.4-8.1s-14,2.7-19.4,8.1
C0.3,26.1,0.3,43.3,11.1,54l38.7,38.7L88.5,54C99.8,43.3,99.8,26,88.5,15.3z M83.5,48.9L83.5,48.9L49.8,82.6L16.2,48.9
c-8-8-8-20.5,0-28.5c3.8-3.8,8.9-6,14.3-6s10.4,2.1,14.3,6l5.1,5.1l5.1-5.1c3.8-3.8,8.9-6,14.3-6c5.3,0,10.4,2.1,14.3,6l0.1,0.1
l0.1,0.1c4,3.8,6.2,8.8,6.2,14C89.8,39.9,87.6,45,83.5,48.9L83.5,48.9z"/>
</svg>

<div> <span class="count dt-wishlist-cnt"></span> <span class="icon__fallback-text">Wishlist</span> </div>
</a>


<div class="dt-sc-header-toggle">
<% if(user){ %>
<a href="/shopNow" class="site-header__icon site-header__account text bg-primary">Shop Now</a>
<a href="/cart" class="site-header__icon site-header__account text bg-primary "><i class="bi bi-cart"></i><span class="badge badge-light"><%= count %> </span></a>
<a href="/wishlist" class="site-header__icon site-header__account text bg-primary">Wishlist</a>
<a href="/userProfile" class="btn btn-success"><i class="bi bi-person"></i></a>
<a href="/logout" class="site-header__icon site-header__account text">Logout</a>
<% }else{ %>
<a href="/login" class="site-header__icon site-header__account text"><svg version="1.1" id="login-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 405.5 425"  xml:space="preserve">
<path d="M403.2,385.3c-15.3-74.6-66.1-135.1-132.4-160.5c-20,11.8-43.2,18.7-68.1,18.9c-24.9-0.2-48.1-7.1-68.1-18.9
C68.4,250.1,17.5,310.6,2.2,385.3c-2.5,12-9.6,39.7,26.9,39.7h347.1C412.8,425,405.7,397.3,403.2,385.3z M202.2,213.3
c58.9,0,106.7-47.7,106.7-106.6C308.9,47.7,261.2,0,202.2,0C143.3,0,95.6,47.7,95.6,106.6C95.6,165.5,143.3,213.3,202.2,213.3z"/>
</svg>Log in</a>
<a href="/signup" class="site-header__icon site-header__account text">Sign Up</a>
<%  } %>    




</div>








<a href="/pages/compare" class="site-header__icon site-header__compare  hidden ">
<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<path class="compare" d="M38.8,70.9c-2.7,0-4.8,2.2-4.8,4.8v6.2c0,7.1,6.6,13,14.5,13h33.7C89.6,95,95,88.7,95,80V49.5
c0-9.1-4.7-15.5-11.4-15.5h-7.9c-2.7,0-4.8,2.2-4.8,4.8c0,2.7,2.2,4.8,4.8,4.8l6.4,0c0.5,0.2,3.3-0.3,3.3,5.9v31.6
c0,0.2,0,4.2-3.2,4.2H48.4c-2.8,0-4.8-2-4.8-3.4v-6.2C43.6,73,41.4,70.9,38.8,70.9z"/>
<g>
<path class="compareFilled" d="M48.4,14.7H19.5c-2.7,0-4.8,2.2-4.8,4.8v28.9c0,2.7,2.2,4.8,4.8,4.8h28.9c2.7,0,4.8-2.2,4.8-4.8V19.5
C53.2,16.8,51.1,14.7,48.4,14.7z"/>
<path class="compare" d="M54.8,5H16.3C11,5,5,8.8,5,14.1v38.5C5,58,11,62.8,16.3,62.8h38.5c5.3,0,8-4.9,8-10.2V14.1
C62.8,8.8,60.1,5,54.8,5z M53.2,48.4c0,2.7-2.2,4.8-4.8,4.8H19.5c-2.7,0-4.8-2.2-4.8-4.8V19.5c0-2.7,2.2-4.8,4.8-4.8h28.9
c2.7,0,4.8,2.2,4.8,4.8V48.4z"/>
</g>
</svg>

<span class="icon__fallback-text">Compare</span>
</a>





</div>


    </nav>               
  </div>
</div>     