.dashboard-dashboard {
    width: 100%;
    height: 2556px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(249, 250, 251, 1);
  }
  .dashboard-rectangle9 {
    top: 0px;
    left: 0px;
    width: 450px;
    height: 2556px;
    position: absolute;
    border-color: transparent;
  }
  .dashboard-text {
    top: 157px;
    left: 37px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text002 {
    top: 251px;
    left: 37px;
    color: rgba(134, 136, 138, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text004 {
    top: 345px;
    left: 37px;
    color: rgba(134, 136, 138, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text006 {
    top: 439px;
    left: 37px;
    color: rgba(134, 136, 138, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text008 {
    top: 533px;
    left: 37px;
    color: rgba(134, 136, 138, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text010 {
    top: 627px;
    left: 37px;
    color: rgba(134, 136, 138, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text012 {
    top: 160px;
    left: 506px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text014 {
    top: 746px;
    left: 506px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-group17 {
    top: 246px;
    left: 506px;
    width: 430px;
    height: 210px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(147, 197, 253, 1);
  }
  .dashboard-group3 {
    top: 62px;
    left: 136px;
    width: 158.02499389648438px;
    height: 87px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text016 {
    color: rgba(0, 0, 0, 1);
    width: 158px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text018 {
    top: 45px;
    left: 25px;
    color: rgba(0, 0, 0, 1);
    width: 109px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group18 {
    top: 246px;
    left: 966px;
    width: 430px;
    height: 210px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(216, 180, 254, 1);
  }
  .dashboard-group4 {
    top: 56px;
    left: 136.99986267089844px;
    width: 156px;
    height: 87px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text020 {
    left: 11px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text022 {
    top: 45px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group19 {
    top: 246px;
    left: 1426px;
    width: 430px;
    height: 210px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(45, 212, 191, 1);
  }
  .dashboard-group5 {
    top: 56px;
    left: 130px;
    width: 170px;
    height: 87px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text024 {
    left: 19px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text026 {
    top: 45px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group13 {
    top: 517px;
    left: 506px;
    width: 310px;
    height: 130px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .dashboard-group7 {
    top: 29px;
    left: 113.76959991455078px;
    width: 164px;
    height: 73px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text028 {
    color: rgba(82, 82, 82, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text030 {
    top: 31px;
    color: rgba(82, 82, 82, 1);
    width: 59px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-ellipse2 {
    top: 30px;
    left: 21.919986724853516px;
    width: 73px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .dashboard-group14 {
    top: 517px;
    left: 851px;
    width: 310px;
    height: 130px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .dashboard-group71 {
    top: 29px;
    left: 113.76959991455078px;
    width: 164px;
    height: 73px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text032 {
    color: rgba(82, 82, 82, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text034 {
    top: 31px;
    color: rgba(82, 82, 82, 1);
    width: 59px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-ellipse21 {
    top: 30px;
    left: 21.919986724853516px;
    width: 73px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .dashboard-group15 {
    top: 517px;
    left: 1196px;
    width: 310px;
    height: 130px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .dashboard-group72 {
    top: 29px;
    left: 113.76959991455078px;
    width: 164px;
    height: 73px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text036 {
    color: rgba(82, 82, 82, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text038 {
    top: 31px;
    color: rgba(82, 82, 82, 1);
    width: 59px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-ellipse22 {
    top: 30px;
    left: 21.919986724853516px;
    width: 73px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .dashboard-group16 {
    top: 517px;
    left: 1541px;
    width: 310px;
    height: 130px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .dashboard-group73 {
    top: 29px;
    left: 113.76959991455078px;
    width: 164px;
    height: 73px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text040 {
    color: rgba(82, 82, 82, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text042 {
    top: 31px;
    color: rgba(82, 82, 82, 1);
    width: 59px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-ellipse23 {
    top: 30px;
    left: 21.919986724853516px;
    width: 73px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .dashboard-rectangle14 {
    top: 845px;
    left: 511px;
    width: 650px;
    height: 600px;
    position: absolute;
    border-color: transparent;
    border-radius: 10px;
  }
  .dashboard-rectangle17 {
    top: 845px;
    left: 1211px;
    width: 650px;
    height: 600px;
    position: absolute;
    border-color: transparent;
    border-radius: 10px;
  }
  .dashboard-text044 {
    top: 875px;
    left: 541px;
    color: rgba(82, 82, 82, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text046 {
    top: 875px;
    left: 1247px;
    color: rgba(82, 82, 82, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-rectangle33 {
    top: 830px;
    left: 37px;
    width: 180px;
    height: 60px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .dashboard-rectangle34 {
    top: 714px;
    left: 30px;
    width: 180px;
    height: 60px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .dashboard-text048 {
    top: 845px;
    left: 67px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text050 {
    top: 731px;
    left: 37px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text052 {
    top: 1502px;
    left: 516px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-rectangle16 {
    top: 1601px;
    left: 516px;
    width: 1345px;
    height: 730px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .dashboard-rectangle18 {
    top: 1601px;
    left: 516px;
    width: 1345px;
    height: 55px;
    position: absolute;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 15px 15px 0 0;
  }
  .dashboard-text054 {
    top: 1618px;
    left: 541px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text056 {
    top: 2284px;
    left: 541px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text058 {
    top: 2278px;
    left: 1638px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text060 {
    top: 1618px;
    left: 706px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text062 {
    top: 1618px;
    left: 1119px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text064 {
    top: 1618px;
    left: 1282px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text066 {
    top: 1618px;
    left: 1501px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-text068 {
    top: 1619px;
    left: 1723px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .dashboard-line1 {
    top: 1772px;
    left: 511px;
    width: 1350px;
    height: 0px;
    position: absolute;
  }
  .dashboard-line2 {
    top: 1893px;
    left: 511px;
    width: 1350px;
    height: 0px;
    position: absolute;
  }
  .dashboard-line3 {
    top: 2014px;
    left: 511px;
    width: 1350px;
    height: 0px;
    position: absolute;
  }
  .dashboard-line4 {
    top: 2135px;
    left: 511px;
    width: 1350px;
    height: 0px;
    position: absolute;
  }
  .dashboard-line5 {
    top: 2256px;
    left: 511px;
    width: 1350px;
    height: 0px;
    position: absolute;
  }
  .dashboard-group56 {
    top: 1690px;
    left: 541px;
    width: 1276px;
    height: 48px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text070 {
    top: 12px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text072 {
    left: 165px;
    color: rgba(112, 114, 117, 1);
    width: 384px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text074 {
    top: 12px;
    left: 578px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text076 {
    top: 12px;
    left: 782px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text078 {
    top: 13px;
    left: 994px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group20 {
    top: 6px;
    left: 1158px;
    width: 118px;
    height: 38px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(222, 247, 236, 1);
  }
  .dashboard-text080 {
    top: 7px;
    left: 14px;
    color: rgba(14, 159, 110, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group57 {
    top: 1811px;
    left: 541px;
    width: 1290px;
    height: 48px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text082 {
    top: 12px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text084 {
    left: 165px;
    color: rgba(112, 114, 117, 1);
    width: 384px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text086 {
    top: 12px;
    left: 578px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text088 {
    top: 12px;
    left: 782px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text090 {
    top: 13px;
    left: 994px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group21 {
    top: 6px;
    left: 1158px;
    width: 132px;
    height: 38px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(225, 239, 254, 1);
  }
  .dashboard-text092 {
    top: 7px;
    left: 14px;
    color: rgba(63, 131, 248, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group58 {
    top: 1932px;
    left: 541px;
    width: 1276px;
    height: 48px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text094 {
    top: 12px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text096 {
    left: 165px;
    color: rgba(112, 114, 117, 1);
    width: 384px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text098 {
    top: 12px;
    left: 578px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text100 {
    top: 12px;
    left: 782px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text102 {
    top: 13px;
    left: 994px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group22 {
    top: 6px;
    left: 1158px;
    width: 118px;
    height: 38px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(253, 246, 178, 1);
  }
  .dashboard-text104 {
    top: 7px;
    left: 21px;
    color: rgba(194, 120, 3, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group59 {
    top: 2053px;
    left: 541px;
    width: 1276px;
    height: 48px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text106 {
    top: 12px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text108 {
    left: 165px;
    color: rgba(112, 114, 117, 1);
    width: 384px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text110 {
    top: 12px;
    left: 578px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text112 {
    top: 12px;
    left: 782px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text114 {
    top: 13px;
    left: 994px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group23 {
    top: 6px;
    left: 1158px;
    width: 118px;
    height: 38px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(247, 222, 222, 1);
  }
  .dashboard-text116 {
    top: 7px;
    left: 14px;
    color: rgba(159, 13, 13, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group60 {
    top: 2174px;
    left: 541px;
    width: 1276px;
    height: 48px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-text118 {
    top: 12px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text120 {
    left: 165px;
    color: rgba(112, 114, 117, 1);
    width: 384px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text122 {
    top: 12px;
    left: 578px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text124 {
    top: 12px;
    left: 782px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-text126 {
    top: 13px;
    left: 994px;
    color: rgba(112, 114, 117, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-group24 {
    top: 6px;
    left: 1158px;
    width: 118px;
    height: 38px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(222, 247, 236, 1);
  }
  .dashboard-text128 {
    top: 7px;
    left: 14px;
    color: rgba(14, 159, 110, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .dashboard-navbar {
    top: 12px;
    left: 1690px;
    width: 185px;
    height: 75.68962097167969px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-rectangle {
    top: 0px;
    left: 89px;
    width: 96px;
    height: 75px;
    position: absolute;
    border-color: transparent;
  }
  .dashboard-icons {
    top: 21.4482421875px;
    left: 0px;
    width: 58.66666793823242px;
    height: 54.24137878417969px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .dashboard-iconsax-linearshoppingcart {
    top: 0px;
    left: 0px;
    width: 59px;
    height: 54px;
    position: absolute;
  }
  .dashboard-i-m-a-g-e {
    top: 27px;
    left: 37px;
    width: 169px;
    height: 56px;
    position: absolute;
    border-color: transparent;
    border-radius: 10px;
  }
  .dashboard-text130 {
    top: 22px;
    left: 112px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 50px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  