<nav class="navbar navbar-light bg-warning">
    <a class="navbar-brand" href="/">
      <img src="//cdn.shopify.com/s/files/1/0553/2824/3758/files/FOODBIA-LOGO.png?v=1668835038&amp;width=150" alt="dt-foodbia" srcset="//cdn.shopify.com/s/files/1/0553/2824/3758/files/FOODBIA-LOGO.png?v=1668835038&amp;width=50 50w, //cdn.shopify.com/s/files/1/0553/2824/3758/files/FOODBIA-LOGO.png?v=1668835038&amp;width=100 100w, //cdn.shopify.com/s/files/1/0553/2824/3758/files/FOODBIA-LOGO.png?v=1668835038&amp;width=150 150w" width="150" height="55.55555555555556" class="header__heading-logo">
    </a>
      <div class="row ">
       <a href="/shopNow" class="btn btn-secondary mr-4">Shop Now</a>
      </div>
  </nav>